<script setup lang="ts">
import {useBookApi} from "@/compositions/api/books/books";

String.prototype.hashCode = function() {
    let hash = 0,
        i, chr;
    if (this.length === 0) return hash;
    for (i = 0; i < this.length; i++) {
        chr = this.charCodeAt(i);
        hash = ((hash << 5) - hash) + chr;
        hash |= 0; // Convert to 32bit integer
    }
    return hash;
}

const COLORS = ["green", "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal"]

function getTagColor(tag: string): string{
    return COLORS[`${tag.hashCode()}`[1]]
}

const books = useBookApi()
</script>

<template>
  <v-container>
    <v-row v-if="!books.getBooks().fetching.value">
      <v-col
          v-for="book in books.getBooks().value"
          :key="book.pk"
          md="4"
          cols="6"
      >
        <v-card>
            <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                    height="200px"
                    cover
            ></v-img>

            <v-card-title>{{book.title}}</v-card-title>
            <v-card-subtitle>
                <v-chip :color="getTagColor(tag)" v-for="tag in book.tags" :id="tag" variant="tonal">{{tag}}</v-chip>
            </v-card-subtitle>
            <v-card-text>{{book.description}}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>

</style>
