<template>
  <v-app theme="dark">
    <v-main>
      <Base>
       <router-view>

       </router-view>
      </Base>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
  import Base from "@/layouts/base.vue";
  import Home from "@/pages/home.vue";
  import {Client, cacheExchange, fetchExchange, provideClient} from '@urql/vue';

  const client = new Client({
    url: import.meta.env.VITE_API_URL,
    exchanges: [cacheExchange, fetchExchange]
  })

  provideClient(client)
</script>
