<script setup lang="ts">
import { ref, inject } from 'vue'

const drawer = ref(null)

</script>

<template>

    <v-navigation-drawer v-model="drawer">
      <v-list-item title="home" to="/"></v-list-item>
      <v-list-item title="hello" to="/hello"></v-list-item>
    </v-navigation-drawer>

    <v-app-bar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>ConsertoBook</v-toolbar-title>
    </v-app-bar>

  <v-container>
    <slot name="default"></slot>
  </v-container>





</template>



